@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-gray-100 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

/* Nice scrolling */
html {
  scroll-behavior: smooth;
}
